* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    background: lightblue;
}

.circular {
    height: 100px;
    width: 100px;
    background: red;
    position: relative;
    transform: scale(3);
}

.circular .inner {
    /* display: none; */
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background: lightblue;
    border-radius: 100%;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.circular .bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
}

.circle .bar .progress {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    background-color: blue;
}

.circle .left .progress {
    z-index: 1;
    animation: left 4s linear both;
}

@keyframes left {
    100% {
        transform: rotate(180deg);
    }
}

.circle .right {
    z-index: 3;
    transform: translate(180deg);
}

.circle .right .progress {
    animation: right 4s linear both;
    animation-delay: 4s;
}

@keyframes right {
    100% {
        transform: rotate(180deg);
    }
}