*{
    padding: 0;margin: 0; box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to top, #56e2d7 0%, #58cff1 100%);
}
.wrapper{
    background: #fff;
    padding: 20px;
    width: 450px;
    border-radius: 5px;
}
.wrapper form{
    position: relative;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form i{
    position: absolute;
    width: 55px;
    text-align: center;
    font-size: 22px;
    color: #4c4c4c;
    pointer-events: none; 
}

form input:valid ~ i{
    color: #56e2d7;
}

form input:focus,
form input:valid{
    border-color: #56e2d7;
}
form input{
    height: 100%;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 0 55px 0 45px;
    outline: none;
    font-size: 20px;
    transition: all 0.3s ease;
}
form input::placeholder{
    color: #4c4c4c;
}
form .counter{
    position: absolute;
    right: 4px;
    width: 50px;
    text-align: center;
    font-size: 22px;
    color: #4c4c4c;
    pointer-events: none; 
    border-left: solid 2px #d8d8dd;
}
form input:valid ~ .counter{
    color: #56e2d7;
}