*{
    margin: 0;padding: 0; box-sizing: border-box;
    font-family: 'Poppins';
}

nav{
    position: fixed;
    width: 100%;
    height: 80px;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.3s;
}
nav .logo{
    font-size: 25px;
    color: royalblue;
    font-weight: 600;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul li{
    list-style: none;
    padding: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover{
    border-bottom: 2px solid #fff;
}


/* about section styling */

section .about{
    height: 500px;
    width: 100%;
}
section h3{
    margin: 20px 0;
    font-size: 30px;
    font-weight: 6s00;
    color: royalblue;
    text-align: center;
}
section img{
    width: 100%;
    height: 100%;
    padding: 5px 10px;
}
section h2{
    margin-left: 10px;
    color: crimson;
    /* border-bottom: 2px solid crimson; */
}
section p{
    text-align: justify;
    margin: 15px 10px;
}
section button{
    padding: 5px 16px;
    font-size: 18px;
    border: 2px solid crimson;
    background-color: transparent;
    border-radius: 5px;
    color: crimson;
    margin: 0 10px;
    outline: none;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: 0.3s all ease;
}
section button:hover{
    background: crimson;
    color: #fff;
}


/* footer part  */

footer .content{
    margin-top: 15px;
    height: 90px;
    background-color: #222;
    display: grid;
    place-items: center;
    align-items: center;
    color: #fff;
}